.menuToggle {
    display: none; 
    position: relative;
    top: 0px;
    right: 0px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

.menuToggleInput {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; 
    z-index: 2; 
    -webkit-touch-callout: none;
}

.menuToggleSpan {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease;
}

.menuToggleSpan:first-child {
    transform-origin: 0% 0%;
}

.menuToggleSpan:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.menuToggleInput:checked ~ .menuToggleSpan {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

.menuToggleInput:checked ~ .menuToggleSpan:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggleInput:checked ~ .menuToggleSpan:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

.menuToggleInput:checked ~ .menu {
    transform: translateX(0);
    overflow: hidden;
}

.menu {
    position: fixed; 
    width: 100vw; 
    height: 200vh; 
    top: 0; 
    left: 0; 
    background: #ededed; 
    list-style-type: none; 
    -webkit-font-smoothing: antialiased; 
    transform: translateX(-100%); 
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0); 
    z-index: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;     */
    padding-top: 250px;
    row-gap: 25px;
}

.menu a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    color: #48555b;
    text-decoration: none;
}
.menu a:hover {
    color: #00a4e5;
}
.menuToggleInput:checked ~ .menu {
    transform: translateX(0); 
}

@media only screen and (max-width: 621px) {
    .menuToggle {
        display: block; 
    }
}
